<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @employee.username %>
</p>

<p>
  <strong>Timeout:</strong>
  <%= @employee.timeout %>
</p>

<p>
  <strong>Active:</strong>
  <%= @employee.active %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @employee.admin %>
</p>

<%= link_to 'Edit', edit_admin_employee_path(@employee) %> |
<%= link_to 'Back', admin_employees_path %>
